flows (8).json
[{"id":"b726075c.6f3bd8","type":"tab","label":"Flow 3","disabled":false,"info":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\n\nvar token=msg.payload.access_token\nvar instance_id=\"25fa0cdc-6052-4629-abe2-24efb1b4e743\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smootheness\"], \"values\": [[mr,mt,mp,ma,ms]]}\nreturn msg;"},{"id":"b7aa6769.392568","type":"ui_form","z":"b726075c.6f3bd8","name":"","label":"","group":"6a0e9c3.3f85964","order":0,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":360,"wires":[["e6d14dfe.28da5"]]},{"id":"e6d14dfe.28da5","type":"function","z":"b726075c.6f3bd8","name":"Pre Token","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"CmTd3P89aHNRY_2RjlQnUQs3a2dMnnYgpKRyd6vt1P8o\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["c0e15d23.73dd"]]},{"id":"c0e15d23.73dd","type":"http request","z":"b726075c.6f3bd8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":260,"wires":[["de9cdff1.7b1b2"]]},{"id":"de9cdff1.7b1b2","type":"function","z":"b726075c.6f3bd8","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\n\nvar token=msg.payload.access_token\nvar instance_id=\"b8d82b5a-8561-4825-a95f-961e96b5c609\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":220,"wires":[["f7a723d3.bdb4f"]]},{"id":"f7a723d3.bdb4f","type":"http request","z":"b726075c.6f3bd8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/855cf40e-dfeb-4273-8ef7-e1238abe1db5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":180,"wires":[["697f671.81ed998","d24de49.3148b18","33f77593.b5f31a"]]},{"id":"d24de49.3148b18","type":"function","z":"b726075c.6f3bd8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":40,"wires":[["48e2c4fb.bbd88c"]]},{"id":"33f77593.b5f31a","type":"debug","z":"b726075c.6f3bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":60,"wires":[]},{"id":"697f671.81ed998","type":"debug","z":"b726075c.6f3bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":360,"wires":[]},{"id":"48e2c4fb.bbd88c","type":"ui_text","z":"b726075c.6f3bd8","group":"494b1ff2.52083","order":4,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":460,"wires":[]},{"id":"6a0e9c3.3f85964","type":"ui_group","z":"","name":"Default","tab":"a2a37dda.eeb49","order":1,"disp":true,"width":"6","collapse":false},{"id":"494b1ff2.52083","type":"ui_group","z":"","name":"Default","tab":"e94f4005.6560a","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2a37dda.eeb49","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e94f4005.6560a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]